<html>
    <body>
        <h1 style="color: green">Hi mate, this is my first page with Django using a template</h1>
    </body>
    <p>Teacher Name: {{nombre_persona.upper}} {{apellido_persona.upper}}</p>
    <p>Current day: {{momento_actual.year}} / {{momento_actual.month}} / {{momento_actual.day}} </p>
    
    <p><strong>Temas del curso </strong></p>
    <p> 
        <ul>
        {% if  temas %}

            {% for elTema in temas %}

                <li>{{elTema}}</li>
            
            {% endfor %}
            

        {% else %}
            <p>No hay elemntos que mostrar</p>
        {% endif %}
        </ul>
    <p>
</html>